*, *::before, *::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

:root {
  --clr-frame: #ADD8E6;
  --clr-border: #334A52;
  --clr-string: #FCFCD4;
  --clr-bg: #002E39;
  --clr-pin: #00A7DC;
  
  --frame-height: 16rem;
  --frame-width: 12rem;
  
  --string-height: 0.125rem;
  
  --pin-width: 15px;
  --pin-top: 5.5rem;
  
  --string-offset: 10px;

  --br: 0.625rem;
}

body {
	background-color: var(--clr-bg);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1 {
	font-size: 5rem;
	color: #fff;
	text-align: center;
	margin-top: 2rem;
}

.main {
  width: 100vw;
  
  display: flex;
  justify-content: space-between;
	flex-grow: 1;
}

.main > * {
	flex-basis: 100%;
}

.controls {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.controls h2 {
	font-size: 3rem;
	color: #fff;
}

.controls label, .controls input {
	display: block;
}

.controls label {
	color: #fffa;
}

.controls input {
	width: 15rem;
}

.frame-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.frame {
  position: relative;
  width: var(--frame-width);
  height: var(--frame-height);
	margin-top: var(--pin-top);
  background: var(--clr-frame);
  border-radius: var(--br);
  transform-origin: 50% calc(-1 * var(--pin-top));
  animation: rock 1500ms both infinite ease-in-out;
}

.string-left, .string-right {
  position: absolute;
  background: var(--clr-string);
  height: var(--string-height);
}

.string-left {
  top: 0;
  left: var(--string-offset);
  transform-origin: 0px;
}

.string-right {
  top: 0;
  right: var(--string-offset);
  transform-origin: 100%;
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--clr-frame);
  border-radius: var(--br);
  border: 10px solid var(--clr-pin);
  transition: 300ms box-shadow;

  display: flex;
  justify-content: center;
  align-items: center;
}

.front:hover {
  box-shadow: 0 0 40px rgba(0, 0, 0, .75);
}

.front p {
  font-size: 5rem;
  color: var(--clr-bg);
}

.pin {
  position: absolute;
  left: 50%;
  top: calc(var(--pin-top) * -1);
  transform: translate(-50%, -25%);
  border-radius: 100%;
  width: var(--pin-width);
  height: var(--pin-width);
  background: var(--clr-pin);
}

@keyframes rock {
  0%, 100% {transform: rotate(30deg);}
  50% {transform: rotate(-30deg);}
}
